# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Semester 3\OOP3200F2020- Lesson 8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
